.home_wrapper {
	height: 100%;
	padding:200px 0px 400px 0px;
	color: #fff;
	background: url('../images/home-bg.jpg') center no-repeat;
	background-size: cover;
}

.toolbar {
	position: fixed;
}

.center-title {
	text-align: center;
}

.viz-area {
	position: relative;
	margin-top: 50px;
}

.map-wrapper {
	position: fixed;
}

.region-chart-wrapper {
	margin-top: 50px;
}

.ministry_wrapper {
	text-align: center;
	position: relative;
}

.ministry_wrapper svg {
	width: 150px;
	height: 150px;
}

.ministry_wrapper svg circle {
	cursor: pointer;
}

.year-selector {
	text-align: center;
}

.fin-year-selector {
	padding: 10px;
}