@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

p {
	font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.colored-title {
	color: #ff6e40;
}

.ananda_logo a {
	text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
}

.home_wrapper {
	height: 100vh;
	color: #fff;
	background: url('../images/ray-rui-QzmA1qSqTwA-unsplash.jpg') center no-repeat;
	background-size: cover;
}

.shadow {
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,0.4)
}

.intro-wrapper {
	position: absolute;
	top: 25%;
	padding:0 100px 0 100px;
}

.toolbar {
	position: fixed;
}

.center-title {
	text-align: center;
}

.center-content {
	text-align: center;
}

.viz-area {
	position: relative;
	margin-top: 50px;
}

.map-wrapper {
	position: fixed;
}

.region-chart-wrapper, .chart-wrapper {
	margin-top: 50px;
}

.parent-ministry-wrapper {
	background-color: #f2f2f2;
}

.parent-ministry-wrapper .tooltip {
	position: unset;
}

.ministry_wrapper {
	text-align: center;
	position: relative;
}

.ministry_wrapper svg {
	width: 150px;
	height: 150px;
}

.ministry_wrapper svg circle {
	cursor: pointer;
}

.year-selector {
	text-align: center;
}

.fin-year-selector {
	padding: 10px;
}

.svg-wrapper {
	padding: 20px;
}

.center-chart svg {
	margin: 0 auto;
    display: block;
}

.apexcharts-canvas {
	margin: auto;
}

.tooltip {
	background-color: #000;
	color: #fff;
	border-radius: 3px;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
	opacity: 0;
	z-index: -999;
}

.photo-credit {
	position: absolute;
    bottom: 20px;
    right: 30px;
}