.home_wrapper {
	height: 100%;
	padding:200px 0px 400px 0px;
	color: #fff;
	background: url('../images/home-bg.jpg') center no-repeat;
	background-size: cover;
}

.toolbar {
	position: fixed;
}

.viz-area {
	position: relative;
	margin-top: 50px;
}

.map-wrapper {
	position: fixed;
}

.region-chart-wrapper {
	margin-top: 50px;
}